/*Element*/
li{

}
/*class*/
.hello{

}
/*id*/
#name{

}
/* Star is for whole page */
/*Star*/
*{
    border:1px solid lightgrey
}

/* It could also be ul li a, its more specific */
/*Descendant Selectors*/
li a {
    color:red;
}

/* Anything after the h4 will be modified */
/*Adjacent Selectors*/
h4 + ul{
    border: 4px solid red;
}

/* specific to attribute like a or input or email or password */
/*Attribute Selectors*/
a[href="http://www.google.com"]{
    background:lightblue;
}

/* Count down the ul, if switch to 2 then its the one before */
/*nth of type*/
ul:nth-of-type(3){
    background: purple;
}